a{  
    margin-left: 90px;
    margin-right: 80px;
    color:#c7eb7f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none ;

}
a:hover{
    color: white;
    background-color: #c7eb7f;
}

/*index.2.html*/
h1 {
    color:#f7228c;
    background-color:white;
    margin-top: 0px;
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: desplazarse;
    animation-duration: 15s;
    position: relative;
}

@keyframes desplazarse {
    0% {

        left: 0;
        color: #f7228c;
    }
    50% {
        color: #bef158;
    }
    100% {
        left: 100%;
        color: #b7fa32;
    }
}

video{
    margin-top: 30px;
    margin-left: 400px;
    margin-top: 30px;
    }

/*productos*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
img {
   margin-top: 30px;
   width: 100px;
   height: 100px;
}
@media screen and(min-width:320px) {
    grid-template-columns: repeat(2,1fr);
}

